.navbar{
    margin:5px auto;
	padding: 5px;
    box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.logo{
    width:150px;
	height:80px;
	margin-left: 15%;
}
.nav-link{
    margin-right:30px;

}
a{
    color:white;
}
.navbar-nav a{
    color:#069370;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
.navbar-nav a:hover{
    color:black;
    background-color: skyblue;
	font-size: 1.2rem;
	font-weight: 500;
}
.dropdown-item{
    box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.show{
    background-color:skyblue;
}